.Header {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Header__left {
    margin-left: 20px;
}

.Header__right {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
}

.Header__link {
    color: var(--color-tint) !important;
    font-size: 15px;
    font-weight: 800;
}

.Header__logo {
    display: inline-block;
    vertical-align: top;
    width: 26px;
    pointer-events: none;
    color: var(--color-dark);
}

.Header__name {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 800;
    color: var(--color-dark);
}

.Header__name:hover {
    color: var(--color-tint);
}

@media screen and (min-width: 600px) {
    .Header {
        height: 80px;
    }

    .Header__left {
        margin-left: 40px;
    }

    .Header__right {
        margin-right: 40px;
    }

    .Header__link {
        font-size: 18px;
    }

    .Header__logo {
        width: 40px;
    }

    .Header__name {
        margin-top: 10px;
        font-size: 23px;
    }
}