.House__avatar {
    width: 40px;
    margin-right: 10px;
    border-radius: 18px;
    border: 1px solid var(--color-light);
    object-fit: fill;
}

.House__avatars {
    object-fit: fill;
    margin-bottom: 20px;
    pointer-events: none;
}

.House__header {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
}

.House__members {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 15px;
}

.House__time {
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--color-light);
}

.House__house {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 800;
    margin-top: -20px;
    margin-bottom: 30px;
}

.House__description {
    color: var(--color-tint);
    font-weight: 700;
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
    .House__avatar {
        width: 55px;
        border-radius: 24px;
        margin-left: 6px;
        margin-right: 6px;
    }    

    .House__header {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 29px;
    }
}