.Isle {
    width: 290px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

@media screen and (min-width: 1000px) {
    .Isle {
        width: 400px;
        margin-right: 25px;
    }
}