.Social {
    margin-top: 10px;
}

.Social__title {
    font-size: 21px;
    font-weight: 800;
    color: var(--color-dark);
}

.Social__islands {
    margin-top: 20px;
}

.Social__island__icon {
    margin-top: 4px;
    width: 23px;
}

.Social__island {
    background-color: var(--color-dark);
    margin-right: 5px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    box-shadow: none;
    border-radius: 25px;
    border: none;
    outline: none;
}

.Social__island:hover {
    background-color: var(--color-accent);
    cursor: pointer;
}